In [1]:
import openai
import pandas as pd

/var/folders/nd/262_rjl56cs3q3l_3stx5hsw0000gn/T/ipykernel_25324/1626704863.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
api_key =

In [3]:
df = pd.read_pickle('../raw_data/films_with_plot_complete.pkl')
len(df)

6204

In [4]:
df

                   title                                      plot_synopsis
0     Mr. Holland's Opus  Glenn Holland, not a morning person by anyone'...
1               Scarface  In May 1980, a Cuban man named Tony Montana (A...
5             Flightplan  Kyle Pratt (Jodie Foster) is a propulsion engi...
6          Little Caesar  Small-time Italian-American criminals Caesar E...
7                Savages  The movie begins with a video being shot of me...
...                  ...                                                ...
7969        Thunderheart  During the early 1970s, FBI agent Ray Levoi is...
7970   One Night of Love  Opera singer Mary Barrett (Grace Moore) leaves...
7971      One False Move  Three criminals, Ray, Pluto and Fantasia (Ray'...
7972       Lucky Numbers  In 1988 Russ Richards (John Travolta), the wea...
7973          Play Dirty  During the North African Campaign in World War...

[6204 rows x 2 columns]

In [5]:
df['gen_summary'] = None

In [6]:
%env OPENAI_API_KEY = api_key

env: OPENAI_API_KEY=api_key

In [7]:
openai.api_key = api_key

In [11]:
def generate_new_plot(title):
    prompt = f'generate a 30 word maximum summary for the film {title}.'
    response = openai.chat.completions.create( 
        model = 'gpt-3.5-turbo-0125',
        messages=[
            {"role": "user", "content": prompt}
        ],
        max_tokens = 150, 
        temperature = 0.5)
    new_plot = response.choices[0].message.content
    return new_plot

In [14]:
def new_summary(df):
    for index, row in df.iterrows():
        title = row['title']
        
        if pd.isnull(row['gen_summary']):
            gen_summary = generate_new_plot(title)
            df.at[index, 'gen_summary'] = gen_summary
    return df

In [8]:
random_sample = df.sample(n=200, random_state=42)

In [15]:
random_sample_new = new_summary(random_sample)

In [17]:
random_sample_new.to_csv('testing_sample.csv')

In [15]:
df_1000=df[:1000]
len(df_1000)

1000

In [17]:
df_1000_new = new_summary(df_1000)

In [26]:
df_2000 = df.iloc[1000:2000, :]
len(df_2000)

1000

In [27]:
df_2000_new = new_summary(df_2000)

In [33]:
df_0_2000 = pd.concat([df_1000_new, df_2000_new])

In [35]:
df_0_2000.to_csv('0-2000_movies_summary.csv')

In [36]:
df_3000 = df.iloc[2000:3000, :]
len(df_3000)

1000

In [37]:
df_3000_new = new_summary(df_3000)

In [38]:
df_4000 = df.iloc[3000:4000, :]
len(df_4000)

1000

In [39]:
df_4000_new = new_summary(df_4000)

In [40]:
df_5000 = df.iloc[4000:5000, :]
len(df_5000)

1000

In [41]:
df_3_4000 = pd.concat([df_3000_new, df_4000_new])

In [42]:
df_3_4000.to_csv('3-4000_movies_summary.csv')

In [43]:
df_5000_new = new_summary(df_5000)

In [44]:
df_6000 = df[5000:]
len(df_6000)

1204

In [46]:
df_6000_new = new_summary(df_6000)

In [47]:
df_full = pd.concat([df_1000_new, df_2000_new, df_3000_new, df_4000_new, df_5000_new, df_6000_new])

In [50]:
df_full.to_csv('movie_with_summary.csv')