In [1]:
import pandas as pd
import pickle

/tmp/ipykernel_35673/3842437144.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_pickle('~/code/rossnorman11/raw_data/films_with_plot_complete.pkl')

In [3]:
df.head()

                title                                      plot_synopsis
0  Mr. Holland's Opus  Glenn Holland, not a morning person by anyone'...
1            Scarface  In May 1980, a Cuban man named Tony Montana (A...
5          Flightplan  Kyle Pratt (Jodie Foster) is a propulsion engi...
6       Little Caesar  Small-time Italian-American criminals Caesar E...
7             Savages  The movie begins with a video being shot of me...

In [4]:
df_2 = pd.read_csv('~/code/rossnorman11/raw_data/movie_with_summary.csv')

In [5]:
df_2

,Unnamed: 0,title,plot_synopsis,gen_summary
0,0,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...","""Mr. Holland's Opus"" follows the life of a ded..."
1,1,Scarface,"In May 1980, a Cuban man named Tony Montana (A...","""Scarface"" follows Cuban immigrant Tony Montan..."
2,5,Flightplan,Kyle Pratt (Jodie Foster) is a propulsion engi...,"After her husband's sudden death, a grieving w..."
3,6,Little Caesar,Small-time Italian-American criminals Caesar E...,"""Little Caesar"" follows the rise and fall of a..."
4,7,Savages,The movie begins with a video being shot of me...,Two marijuana entrepreneurs in California are ...
...,...,...,...,...
6199,7969,Thunderheart,"During the early 1970s, FBI agent Ray Levoi is...",A young FBI agent is sent to investigate a mur...
6200,7970,One Night of Love,Opera singer Mary Barrett (Grace Moore) leaves...,"A young opera singer, Mary, falls in love with..."
6201,7971,One False Move,"Three criminals, Ray, Pluto and Fantasia (Ray'...","In the film ""One False Move,"" a trio of crimin..."
6202,7972,Lucky Numbers,"In 1988 Russ Richards (John Travolta), the wea...","""Lucky Numbers"" follows the story of a TV weat..."
6203,7973,Play Dirty,During the North African Campaign in World War...,"In the film Play Dirty, a group of British sol..."

In [9]:
df_3 = pd.read_pickle('~/code/rossnorman11/raw_data/title_plot_movieId.pkl')
df_3.head()

,title,plot_synopsis,movieId
0,Mr. Holland's Opus,"Glenn Holland, not a morning person by anyone'...",62
1,Scarface,"In May 1980, a Cuban man named Tony Montana (A...",4262
5,Flightplan,Kyle Pratt (Jodie Foster) is a propulsion engi...,37727
6,Little Caesar,Small-time Italian-American criminals Caesar E...,25773
7,Savages,The movie begins with a video being shot of me...,56956

In [6]:
x= list('[]')
x

['[', ']']

In [4]:
string(x)

NameError: name 'string' is not defined

In [6]:
import tensorflow as tf
from tensorflow.python.client import device_lib
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 9361077481238421012
xla_global_id: -1
]

2024-02-14 16:56:34.724868: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-02-14 16:56:34.724924: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2211] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [8]:
import tensorflow as tf
tf.test.is_gpu_available()

2024-02-14 16:57:01.744917: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-02-14 16:57:01.744972: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2211] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

False